@if (DialogIsShown)
{
    <div class="dialogDiv">
        <dialog open="true">
            <div class="dialogHeader">
                @DialogHeader
            </div>
            <div class="dialogContent">
                @DialogContent
            </div>
            <div class="dialogFooter">
                @DialogFooter
            </div>
        </dialog>
    </div>
}