<button disabled="@Disabled" class="@SiteButtonClass" onclick="@OnSiteButtonClicked">
    @if (ShowCaretIcon)
    {
        <i class="fas fa-caret-down" />
    }
    <i class="@IconClass" /> @Text
</button>