@page "/"

<PageTitle>Jordan Dickerson</PageTitle>

<div class="pageLayout">
    <IntroductionSection />
    <AboutMeSection />
    <TechnologiesSection />
    <WorkExperienceSection />
    <ProjectsSection />
</div>

