@inject IAboutAppService AboutAppService

<section id="aboutMeSection">
    <div class="siteLayout">
        <div class="aboutMeHeader">
            <h2>About Me</h2>
        </div>
        <div class="aboutMeParagraph">
            <p>@AboutMe.Paragraph</p>
        </div>
    </div>
</section>
