<section id="introductionSection">
    <div class="siteLayout">
        <div class="introductionDiv">
            <h3>Hi, I'm</h3>
            <text>Jordan Dickerson</text>
            <h2>Software Developer</h2>
            <SiteAnchor OpenNewTab="true" Text="Resume" IconClass="fas fa-link" Url="https://docs.google.com/document/d/1Szxt_yNPuAC-2yKfrk46MG3lueX3RqWo447xgCWp9OQ/edit?usp=sharing" />
        </div>
        <div class="myPictureDiv">
            <div class="myPicture">
            </div>
        </div>
    </div>
</section>
